{% from "components/typography.html" import render_text %}

{% set ZERO, ONE, TWO, THREE = "ZERO", "ONE", "TWO", "THREE" %}


{% macro render_controls(carousel_id, controls) %}
    {% if controls.type == ZERO %}
    {% elif controls.type == ONE %}
        <a class="carousel-control-prev" href="#{{ carousel_id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{ carousel_id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    {% endif %}
{% endmacro %}

{% macro render_indicators(carousel_id, indicators, slides) %}
    {% if indicators.type == ZERO %}
    {% elif indicators.type == ONE %}
        <ol class="carousel-indicators {{ indicators.class }}">
            {% for slide in slides %}
                <li data-target="#{{ carousel_id }}"
                    data-slide-to="{{ loop.index0 }}"
                    class="{{ active if slide.active }}">
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}

{% macro render_rows(rows) %}
    {% for row in rows %}
        <div class="row {{ row.class }}">
            {% for column in row.columns %}
                <div class="col {{ column.class }}">
                    {% set content = column.content %}
                    {{ render_text(content.type, content.text, content.class) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_slide(slide) %}
    {% if slide.type == ZERO %}
    {% elif slide.type == ONE %}
        <img href="images/{{ slide.image }}" alt="images/{{ slide.text }}"/>
    {% elif slide.type == TWO %}
        <img href="images/{{ slide.image }}" alt="images/{{ slide.text }}"/>
        <div class="container carousel-caption {{ slide.container.class }}">
            {{ render_rows(slide.container.rows) }}
        </div>
    {% elif slide.type == THREE %}
        {% set container = slide.container %}
        <div class="container {{ slide.container.class }}">
            {{ render_rows(slide.container.rows) }}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_carousel(component) %}
    <div id="{{ component.id }}" class="carousel slide {{ component.class }}" data-ride="carousel">
        {{ render_controls(component.id, component.controls) }}
        <div class="carousel-inner h-100">
            {% for slide in component.slides %}
                <div class="carousel-item h-100 {{ slide.class }}">
                    {{ render_slide(slide) }}
                </div>
            {% endfor %}
         </div>
        {{ render_indicators(component.id, component.indicators, component.slides) }}
    </div>
{% endmacro %}